@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

html, body {
  overflow-x:hidden;
  background-color:#2B2B2B;
  background:#2B2B2B;
  background-attachment:scroll;
  background-size:cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 100vh;
    }


.navbar-default .navbar-nav>li>a { color:#eee; }
    
.navbar-brand
{
    margin: 0;
    padding: 0;
background: transparent;
transition:all .4s ease;
}

#clockface {}

@media (min-width: 1800px)
{
.headcontainer {
    width: 1370px !important;
}

}

#clockface {float:none !important;}

@media (max-width: 967px)
{
.hidden-xs {
    display: none !important;
}
}

.page-header h1 {
    font-size: 3em;
}
@media (min-width: 768px)
{
.lead {
    font-size: 18px;
}
}

.panel-body{
	padding:5px !important;
	position:relative;
	overflow:hidden;
	display:block;
}

.panel-body img{
	border-radius:4px;
}

.panel-heading { 
min-height:70px; 
}


.clock {background-color:#222222;width:100%; margin:0 auto; padding:10px; border:1px solid #282828; color:#fff;border-radius:4px; }

#Date { font-family:'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:18px; text-align:center; text-shadow:0 0 5px #00c6ff; }



#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clock-face { display:inline; font-size:1.7em; text-align:center; font-family:'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold; text-shadow:0 0 5px #00c6ff; }

footer {
background-color:rgba(1,1,1,.5) !important;
border-top:0px solid #000 !important;
width:100%;
margin:0 !important;
padding:10px 0px;
}

footer a { 
font-size:12px;
color:#888;
padding-right:8px;
padding-left:8px;
border-right:1px solid rgba(255,255,255,.1);
 }

footer a:first-child { 
padding-left:0px;
 }

 footer a:last-child { 
border-right:none; }

.over-lay { 
		position:relative;

 }

 .over-lay-box {
opacity:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000719+0,000719+67,000719+100&1+0,0.67+77,0+100 */
background: -moz-linear-gradient(top, rgba(0,7,25,1) 0%, rgba(0,7,25,0.71) 67%, rgba(0,7,25,0.67) 77%, rgba(0,7,25,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,7,25,1) 0%,rgba(0,7,25,0.71) 67%,rgba(0,7,25,0.67) 77%,rgba(0,7,25,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,7,25,1) 0%,rgba(0,7,25,0.71) 67%,rgba(0,7,25,0.67) 77%,rgba(0,7,25,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000719', endColorstr='#00000719',GradientType=0 ); /* IE6-9 */float:left;
overflow:hidden;
width:100%;
position:absolute;
height:auto;
transition:all .2s linear;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
 }

 .over-lay-box h5 {
 	padding:90px 0px;
 	text-align:left;
 }

.title-color {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#410091+0,8475d8+100 */
background: rgb(65,0,145); /* Old browsers */
background: -moz-linear-gradient(left, rgba(65,0,145,1) 0%, rgba(132,117,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(65,0,145,1) 0%,rgba(132,117,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(65,0,145,1) 0%,rgba(132,117,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#410091', endColorstr='#8475d8',GradientType=1 ); /* IE6-9 */
    }
    
   .navbar-default .navbar-toggle {
    border-color: rgba(255,255,255,.8) !important;
}
    
    .navbar-toggle {
    border-radius: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 500;
    font-family:'Raleway',sans-serif;
}

.navbar-brand>img {
    width: auto;
    height:100% !important;
}

    .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    }
    .eve {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001a23+0,206bad+49,114570+49,000d16+100&1+0,0.47+100 */
background: -moz-linear-gradient(left, rgba(0,26,35,1) 0%, rgba(17,69,112,0.74) 49%, rgba(0,13,22,0.47) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,26,35,1) 0%,rgba(17,69,112,0.74) 49%,rgba(0,13,22,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,26,35,1) 0%,rgba(17,69,112,0.74) 49%,rgba(0,13,22,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a23', endColorstr='#78000d16',GradientType=1 ); /* IE6-9 */
    color:#fff !important;
    border-radius:0px !important;
    }
    .panel-body img {
    border-radius: 0px !important;
}
    .panel-heading {
    min-height: 70px !important;
    }
    .panel-default>.panel-heading {
background: linear-gradient(187deg, #004870, #339fb7);
background-size: 400% 400%;

-webkit-animation: AnimationName 6s ease infinite;
-moz-animation: AnimationName 6s ease infinite;
animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes AnimationName { 
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}

.panel-footer {
        color:#fff !important;
        border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
background: rgb(22,22,22); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(22,22,22,1) 0%, rgba(20,20,20,1) 50%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(22,22,22,1) 0%,rgba(20,20,20,1) 50%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(22,22,22,1) 0%,rgba(20,20,20,1) 50%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0.5)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}
@-webkit-keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0.5)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}
.over-lay-box h5 {
    font-size:12px !important;
    text-transform:uppercase;
	text-align:left;
    transition:all .2s ease;
    font-weight:bold;
    position:relative;
    top:-20px;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
}

.over-lay-box {
    border-radius:0px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001a23+0,206bad+49,114570+49,141414+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,26,35,1) 0%, rgba(17,69,112,0.51) 49%, rgba(20,20,20,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,26,35,1) 0%,rgba(17,69,112,0.51) 49%,rgba(20,20,20,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,26,35,1) 0%,rgba(17,69,112,0.51) 49%,rgba(20,20,20,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a23', endColorstr='#00141414',GradientType=0 ); /* IE6-9 */

}

.watch-l {
    
background: rgb(41,192,206); /* Old browsers */
background: -moz-linear-gradient(left, rgba(41,192,206,1) 0%, rgba(30,160,149,1) 4%, rgba(30,160,149,1) 4%, rgba(11,39,61,1) 4%, rgba(11,39,61,1) 4%, rgba(0,229,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(41,192,206,1) 0%,rgba(30,160,149,1) 4%,rgba(30,160,149,1) 4%,rgba(11,39,61,1) 4%,rgba(11,39,61,1) 4%,rgba(0,229,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(41,192,206,1) 0%,rgba(30,160,149,1) 4%,rgba(30,160,149,1) 4%,rgba(11,39,61,1) 4%,rgba(11,39,61,1) 4%,rgba(0,229,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c0ce', endColorstr='#00e595',GradientType=1 ); /* IE6-9 */
    border:1px solid rgba(255,255,255,1);
    border-radius:4px;
    display:inline-block !important;

}

.watch-l a {
text-transform:uppercase;
color:#fff !important;
display:block;
font-family: 'Roboto', sans-serif;
position:relative;
}

.panel-body {
    padding: 0px !important;
}

.btn-success {
    color: #ffffff;
    background-color: #388E3C;
    border-color: #77b300;
    text-shadow:1px 1px 1px #000, 2px 2px 2px #000;
    border:3px solid #fff;
}

.title-color {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2850c9+0,2989d8+50,0043c9+100 */
background: rgb(40,80,201); /* Old browsers */
background: -moz-linear-gradient(left, rgba(40,80,201,1) 0%, rgba(41,137,216,1) 50%, rgba(0,67,201,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(40,80,201,1) 0%,rgba(41,137,216,1) 50%,rgba(0,67,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(40,80,201,1) 0%,rgba(41,137,216,1) 50%,rgba(0,67,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2850c9', endColorstr='#0043c9',GradientType=1 ); /* IE6-9 */
}

.img-logo {
       animation-duration: 2s;
 animation-iteration-count: normal;
 animation-timing-function: ease;
}

.flaz {
    animation-duration: 2s;
 animation-iteration-count: 2;
 animation-timing-function: ease;  
}

.titly {
    animation-duration: 3s;
 animation-iteration-count: 1;
 animation-timing-function: ease;  
}

.panel-default {
}

.panel {
    margin-bottom: 20px;
    background-color: #222222;
    border: 2px solid #607D8B;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.navbar-default {
background: #111 url(/uploads/upper-bg.png);
    border-bottom: 0px solid rgba(1,1,1,.2);
box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}


.navbar-default {
background: rgba(1,1,1,.4);

}


.navbar-default .navbar-toggle {
   border-color: #0277BD !important; 
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #0277BD !important; 
}

.navbar-default .navbar-toggle {
    border-color: #fff!important;
    border-radius: 10px !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff!important;
}

.categ {
    font-family:'Raleway',sans-serif;
    font-size:14px;
    font-weight:normal;
}

.page-header {
    padding-bottom: 9px;
    margin:0;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid #111;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.form-control {
    background-color: #111;
}

hr.style10{
    border: 0px solid #000 !important;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0));
}
.modal-dialog {

}

.modal-footer {
padding: 20px !important;
}
.modal-header {
padding:20px !important;
}

.pood { height:750px !important; }

.modal-content { padding:20px !important; }

.btn-warning { font-size:30px !important;  padding:25px 30px; }

body {
    padding-top: 0px;
}
.navbar-default {
    background: transparent;
    border:none;
box-shadow: none;
}

.event-block {
margin-bottom:30px; }
.navbar-default {
    background: #111;
    border: none;
    box-shadow: none;
}
/* Banners Start */

.b950x120 {
    max-width: 950px;
    max-height: 120px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

.banners {
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
    float: none;
}

.single .banners {
    margin: 5px auto 0;
}

.b-banners {
    margin-top: 0;
}

.floating-banners {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 1270px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner.close {
  position: relative;
  display: block;
}

.banner.close .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 20px;
  background: #111;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.gap {
	display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* Banners End */

/* Streaming Area Start */

.holds-the-iframe {
    background: url(https://lh3.googleusercontent.com/-WXC8Bb1rtwM/XguFUrtOTKI/AAAAAAAAAPc/Ozb0ZFKopm8xEfffHxywC9vhJ7g6hn20wCLcBGAsYHQ/h120/Preloader_11.gif) center center no-repeat;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222222;
}

#countdown .countdown-unit {
    position: relative;
}

#countdown .countdown-unit+.countdown-unit {
    margin-left: 50px;
}

#countdown .countdown-unit+.countdown-unit:after {
    content: ':';
    position: absolute;
    color: #FFF;
    top: 50%;
    left: -35px;
    transform: translateY(-80px);
    font-size: 84px;
    line-height: 116px;
}

#countdown .countdown-unit>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown .countdown-unit span {
    font-size: 84px;
    line-height: 116px;
    color: #FFF;
}

#countdown .countdown-unit span[data-seconds] {
    color: #FF0000;
}

#countdown .countdown-unit .unit-name {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
}

.stream-over {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222222;
    font-size: 40px;
    line-height: 116px;
    color: #FFF;
}

.streaming-header h2 {
    margin: 0;
}

.streaming-area, .streaming-header, .footer-area, .header-area {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.streaming-wrapper {
	overflow: hidden;
}

.streaming-wrapper>div {
    padding: 0;
}

.streaming-top-area {
  display: flex;
  justify-content: space-between;
}

.hidden-chat .chat-area {
  display: none;
}

.hidden-chat .streaming-top-area .streaming-servers {
	display: block;
}

.hidden-chat .video-area {
  width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.streaming-player iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.streaming-banners a, .streaming-banners a img {
    display: block;
}

.streaming-servers {
    margin: 5px;
	text-align: center;
}

.streaming-top-area .streaming-servers {
	display: none;
}

.streaming-servers a, .chat-toggle a {
    display: inline-block;
    background-color: #009285;
    color: #FFF;
    text-transform: uppercase;
    padding: 2px 5px;
    border: 1px solid #000;
}

.streaming-servers a.active, .chat-toggle a.active {
    background-color: #222;
	color: #FFF;
}

.streaming-chat iframe {
    display: block;
}

.chat-toggle {
	margin: 5px 0 5px auto;
	text-align: right;
}

.chat-toggle a:hover {
	color: #FFF;	
}

.accordion-panel .panel-content {
  display: none;
  margin-top: 10px;
  padding-left: 5px;
}

.accordion-panel .panel-btn {
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.accordion-panel .panel-btn::before {
  content: 'âµ';
}

.accordion-panel .panel-btn.open::before {
  content: 'â¶';
}

/* Streaming Area End */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* Notification */
.ml-12,.ml-xl-12,.ml-xl-auto{position:relative;width:100%;min-height:1px;padding: 3px}
.alert {
  padding: 10px;
  background-image: linear-gradient(90deg, #1a191f 20%, #444444 100%);
  font-size: 11px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}
.ml-6,.ml-xl-6,.ml-xl-auto{position:relative;width:100%;min-height:1px;padding: 3px}
.ml-3,.ml-xl-3,.ml-xl-auto{position:relative;width:100%;min-height:1px;padding: 3px}
/* Notification End */

/* BUTTON */
.button-servers {
	display: block;
}

.button-servers {
    margin: 5px;
	text-align: center;
}

.button-servers {
	display: none;
}

.button-servers a, .button-toggle a {
    display: inline-block;
    background-color: #009285;
    color: #FFF;
    text-transform: uppercase;
    padding: 2px 5px;
    border: 1px solid #000;
}

.button-servers a.active, .button-toggle a.active {
    background-color: #222;
	color: #FFF;
}
